# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
# Test binary, built with `go test -c`
*.test
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.idea
*vendor
.vscode
dist/*

cover.out
coverage.txt

etc/workflow.toml
etc/workflow.env
etc/ssl
workflow
workflow-api
workflow-scheduler
workflow-node